---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Video from '../components/Video.astro';
import Intro from '../components/Intro.astro';
import Bento from '../components/Bento.astro';
import Prefooter from '../components/Prefooter.astro';
import Footer from '../components/Footer.astro';
---

<Layout 
	title="Premioes ESLAND 2024 - Celebrando lo mejor del streaming y los creadores de contenido."
	description="Desubre a los mejores creadores de contenido de España, Latinoamérica y Andorra. ¡Vota por tus favoritos! Celebra la innovación y el talento de twitch, Youtube y más"
>

	<Video/>
	<main>
		<Intro/>

		<Bento />
		<Prefooter/>
	</main>
	<Footer/>
</Layout>

<style>
	
</style>
