---
import Layout from "../layouts/Layout.astro";
import Video from "../components/Video.astro";
import Intro from "../components/Intro.astro";
import Bento from "../components/Bento.astro";
import Prefooter from "../components/Prefooter.astro";
import Footer from "../components/Footer.astro";

import { getI18N } from "../i18n";
const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
  <Video />
  <main>
    <Intro />

    <Bento />
    <Prefooter />
  </main>
  <Footer />
</Layout>

<style></style>

//Se crea el componente App para que en los index de cada pagina de cada idioma
solamente se importe y se coloque el componente app
